html {
    margin: auto;
}

body {
    font-size: 16px;
    margin: auto;
}

header {
    background-color: #7F636E;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo_header_div {
    display: flex;
}

.account_header_link {
    display: block;
}

header nav {
    height: 100%;
    background-color: white;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    text-align: right;
}

header nav a:hover {
    background-color: #AE98A1;
    font-weight: bold;
}

nav li {
    list-style: none;
}

.logo {
    width: 200px;
    color: #EDE8EA;
}
.logo_header_div h1 {
    font-size: 75px;
    color: #EDE8EA;
}

main {
    margin-left: 150px;
    margin-top: 200px;
    background-color: #D2C6CB;
}

main h1 {
    text-align: center;
    padding: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 50px;
    font-family: cursive;
    color: #5B4850;
    border-bottom: 3px dashed #725A64;
}

.subtitle {
    padding: 20px;
    padding-top: 0;
    margin-top: 15px;
    text-align: center;
    color: #5B4850;
}

.item_overview {
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: 3px solid #725A64;
    padding: 25px;
    
}

main div img {
    max-width: 200px;
    grid-row: 1 / 3;
}

.red_notice {
    font-size: 24px;
    font-weight: bold;
    color: #F15025;
}

.yellow_notice {
    font-size: 24px;
    color: #FFD23F;
}

.green_notice {
    font-size: 24px;
    color: #44CF6C;
}

.general_notice {
    font-weight: bold;
    color: #F15025;
}

.proceed_btn {
    background-color: #44CF6C;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

footer {
    background-color: #7F636E;
    color: #EDE8EA;
    padding: 15px;
    margin-left: 150px;
    text-align: center;
}

.confirmation_form {
    padding: 30px;
    margin: auto;

}

.confirmation_form label {
    display: block;
}

.confirmation_form input {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
}