body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

header {
    padding: 20px;
    background-color: gold;
}

main {
    border: 1px solid black;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
}

.submit {
    margin: 20px;
    width: 200px;
    padding: 10px;
    font-size: 18px;
}

label {
    display: block;
    margin: 10px;
    border-bottom: 2px solid gray;
}

input[type='checkbox'] {
    margin: 10px;
    border-bottom: 2px solid gray;
}

    input[type='checkbox']:last-child {
        border-bottom: none;
    }
