body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

header {
    padding: 20px;
    background-color: gold;
}

main {
    border: 1px solid black;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
}

form {
    padding: 20px;
    border-bottom: 2px solid gray;
}

.action-browse {
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
}

.action-delete {
    margin: 10px;
    padding: 5px;
    background-color: lightpink;
}

.proceed {
    display: block;
    margin: 20px auto;
    border: 2px solid gold;
    width: 200px;
    padding: 10px;
    background-color: lightyellow;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.return {
    display: block;
    margin: 20px;
}

.checkout {
    border: none;
}
