body {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: auto;
    font-family: sans-serif;
}

nav {
    grid-row: 1/4;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    display: block;
}

nav a:hover {
    background-color: lightgray;
}

header {
    background-image: url(images/header.jpg);
    position: fixed;
    left: 200px;
    top: 0;
    width: 85%
}

header h1 {
    color: white;
    padding-left: 20px;
}

main {
    padding-left: 20px;
}

.link {
    font-size: 16px;
    display: block;
    padding: 20px;
    margin: 10px;
}

#intro-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

#intro-main img {
    max-width: 100%;
    height: auto;
}

.intro {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.intro:hover {
    background-color: lightgray;
}

.output {
    border-left: 3px solid lightgray;
    margin-left: 20px;
    padding-left: 5px;
    display: block;
}

.hide {
    display: none;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 200px;
    bottom: 0;
    width: 85%
}